<div class="container">
  <h1>Editing Calendar Page</h1>

  <%= render 'form', calendar_page: @calendar_page %>

  <br>

  <div class="btn-group">
    <%= link_to 'show', [@manuscript, @calendar_page], class: "btn btn-secondary" %>
    <%= link_to 'back', manuscript_path(@calendar_page.manuscript), class: "btn btn-secondary" %>
  </div>
</div>