<div class="container">
  <div class="row">
    <div class="col-9"><h1>Editing Calendar Page</h1></div>
    <div class="col-3"><%= link_to 'back', @calendar_page, class: "btn btn-kal-standard btn-block btn-lg" %></div>
  </div>

  <%= render 'form', calendar_page: @calendar_page %>

  <br>

  <!-- <div class="btn-group">
    <%#= link_to 'show', [@manuscript, @calendar_page], class: "btn btn-kal-standard" %>
    <%= link_to 'back', @calendar_page, class: "btn btn-kal-standard" %>
  </div> -->
</div>