#calendar_table, #calendar_table2, .feast_details {
  background-color: #fec;
}

.table-row {
  padding: 2px;
}

// change underscores to dashes ( _ => - )

.big_KNI {
  color: #ba1503;
  background-color: #ffef77;
}

.golden_number {
  color: #D4AF37;
}

.red_feast, .egyptian_day {
  color: red;
}

.black_feast {
  color: black;
}

.blue_feast {
  color: blue;
}

.green_feast {
  color: green;
}

.purple_feast {
  color: purple;
}

.pink_feast {
  color: #a47;
}

.gold_feast {
  color: #D4AF37;
}

.hidden {
  display: none;
}

.bordered-modal {
  border: 12px solid #5e552a;
  border-radius: 18px;
}
