#calendar-table, .feast_details {
  background-color: #fec;
}

.calendar-row, .table-row {
  padding: 1px;
}

.red-text, .black-text, .blue-text, .green-text, .gold-text, .purple-text, .pink-text {
  font-weight: 600;
}

.big-KNI {
  color: #ba1503;
  background-color: #ffef77;
}

.golden-number {
  color: #D4AF37;
}

.red-text, .egyptian-day {
  color: #b7371d;
}

.black-text {
  color: #2c302d;
}

.blue-text {
  color: #3560a5;
  font: verdana;
}

.green-text {
  color: #266b35; //#3d8c55;
}

.purple-text {
  color: #602c6b;
}

.pink-text {
  color: #cc5f95;
}

.gold-text {
  color: #D4AF37;
  // text-shadow: 1px 1px black, -1px -1px white;
}


.bordered-modal {
  border: 12px solid #5e552a;
  border-radius: 18px;
}

.feast-header {
  background-color: #fec;
  font-size: 20px;
}


.cal-page-link {
  color: #36472e;
}

.tooltip, .index-tooltip, .tooltip-arrow, .tooltip-inner, .tooltip-top {
  // background-color: #36472e;
}

.ui-datepicker-year
{
  display:none;
}
