#calendar-table, .feast_details {
  background-color: #fec;
}

.table-row {
  padding: 2px;
}

// change underscores to dashes ( _ => - )

.big-KNI {
  color: #ba1503;
  background-color: #ffef77;
}

.golden-number {
  color: #D4AF37;
}

.red-text, .egyptian-day {
  color: red;
}

.black-text {
  color: black;
}

.blue-text {
  color: blue;
}

.green-text {
  color: green;
}

.purple-text {
  color: purple;
}

.pink-text {
  color: #a47;
}

.gold-text {
  color: #D4AF37;
}

.hidden {
  display: none;
}

.bordered-modal {
  border: 12px solid #5e552a;
  border-radius: 18px;
}
