div {
  // .btn-primary {
  //   background-color: #095429;
  //   color: #f2e360;
  // }

  .container {
    background-color: #d6d0b3;
  }

  .form-control {
    background-color: #f6f9d9;
  }

 .btn-primary {
    background-color: #36472e;
    color: #f2dd79;
  }

  .btn-secondary {
    background-color: #bdc18d;
    color: #36472e;
  }

  .btn-danger {
    background-color: #ba4930;
    color: #ed9b28;
  }

}
