<div class="container">

  <h3><%= "#{@manuscript.name} #{"(#{@manuscript.shelfmark})" if @manuscript.shelfmark.present? }"  %></h3>

  <div class="container" id="calendar-table">
    <% feast_dates = @manuscript.feasts.map{ |f| [f.month_number, f.day_number] }.uniq.sort_by{ |d| (d.first * 10) + d.last } %>
    <% feast_dates.each_with_index do |date, index| %>
      <% div_id = "#{date.first}-#{date.last}" %>
      <% grade = index.even? ? 'dark-grade' : 'light-grade' %>

      <%= content_tag(:hr, '', style: 'border: solid #b2ae97 4px;') if date.first != feast_dates[index - 1].first && !(index == 0) %>
      <%= content_tag(:div, id: div_id, class: grade){ render 'day', date: date }  %>
    <% end %>
  </div>


  <%= link_to 'back', manuscript_path(@manuscript), class: 'btn btn-kal-standard'  %>

  <div class="modal fade" id="feast-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg bordered-modal" role="document">
      <div class="modal-content">
        <div class="modal-header feast-header" style="font-size: 30px">
          New Feast
        </div>
        <div class="modal-body container">
          [modal content]
        </div>
        <div class="btn btn-kal-standard" id="hide-modal"> cancel </div>
      </div>
    </div>
  </div>

</div>
