<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>Editing "<%= @manuscript.name %>"</h1>
    </div>

    <div class="col-3 float-right">
      <div class="btn-group btn-group-lg">
        <%= link_to 'view', @manuscript, class: "btn btn-kal-standard btn-lg " %>
        <%= link_to 'back', manuscripts_path, class: "btn btn-kal-standard btn-lg " %>
      </div>
    </div>
  </div>

  <%= render 'form', manuscript: @manuscript %>
</div>