<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>New Manuscript</h1>
    </div>

    <div class="col-2 float-right">
      <%= link_to 'back', manuscripts_path, class: "btn btn-kal-standard btn-lg" %>
    </div>
  </div>

  <%= render 'form', manuscript: @manuscript %>
</div>