<!-- <div class="container" id="feast-form-area"> -->
  <h1><%= "#{month_name(@feast.month_number)} #{@feast.day_number}" %></h1>

  <% options = {html: {class: "form"}} %>
  <% options.merge!({remote: true, format: :js}) if request.xhr? %>

  <%= form_for @feast, options do |form| %>
    <%= render 'form', form: form %>
  <% end %>

  <%= link_to 'back', calendar_page_path(@feast.calendar_page), class: "btn btn-kal-standard" unless request.xhr? %>
<!-- </div> -->