<!-- <div class="container id="feast-form-area"> -->
  <% options = {html: {class: "form"}} %>
  <% options.merge!({remote: true, format: :js}) if request.xhr? %>

  <%= form_for [@calendar_page, @feast], options do |form| %>
    <%= render 'form', form: form %>
  <% end %>

  <%= link_to 'back', [@manuscript, @calendar_page], class: "btn btn-kal-standard" unless request.xhr? %>
<!-- </div> -->