
<h1><%= "#{CalendarPage::MONTHS.find{ |m| m.number == @feast.month_number }} #{@feast.day_number}" %></h1>

<%= render 'form', feast: @feast %>

<%= link_to 'Back', [@manuscript, @calendar_page] %>

