
<h1><%= "#{month_name(@feast.month_number)} #{@feast.day_number}" %></h1>

<%= form_for [@calendar_page, @feast], html: {class: "form"} do |form| %>
  <%= render 'form', form: form %>
<% end %>

<%= link_to 'back', [@manuscript, @calendar_page], class: "btn btn-secondary" %>

