<h1>Feast of St. <%#= @feast.saint_name %></h1>

<p>Sancte <%#= @feast.saint_name %> ora pro nobis</p>

<ul>
  <%# @feast.feast_name.saint_attributes.each do |s_a| %>
    <%# if s_a == @feast.feast_name.saint_attributes.last && s_a != @feast.feast_name.saint_attributes.first %>
      <li>and a great <%#= s_a %></li>
    <%# break; end %>
    <li>a great <%#= s_a %></li><br>
  <%# end %>
</ul>

<%= link_to 'back', calendar_page_path(@feast.calendar_page) %>