<nav class="navbar navbar-dark bg-inverse" style="background-color:#343d2d;" >
  <%= link_to "Home", root_path, class: "navbar-brand", style: "color:#bdc18d;" %>
  <ul class="nav navbar-nav">

    <li class="nav-item active">
      <%= link_to "Names", names_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>