<nav class="navbar navbar-dark bg-inverse" style="background-color:#343d2d;" >
    <div class="col-6"><%= link_to "Manuscripts", root_path, class: 'navbar-brand', style: 'color: #bdc18d;' %></div>
    <div class="col-6"><%= link_to "Names", names_path, class: 'navbar-brand', style: 'color: #bdc18d;' %></div>
</nav>